APP_FRONTEND_PATH=/wm-dataai-software
APP_BACKEND_PATH=/wm-dataai-software/api
PORT=8080

VITE_APP_FRONTEND_PATH=/secure/apps/wm-dataai-software
VITE_APP_BACKEND_PATH=/secure/apps/wm-dataai-software/api
PUBLIC_APP_FRONTEND_PATH=/secure/apps/wm-dataai-software
PUBLIC_APP_BACKEND_PATH=/secure/apps/wm-dataai-software/api

GATE_DEMOS=0
SITE_PASSWORD=replace-if-password-gate-is-enabled
AUTH_SECRET=replace-with-random-string-if-password-gate-is-enabled
HUBSPOT_PORTAL_ID=44511248
HUBSPOT_FORM_ID=95cbdb85-3ffb-448f-88a3-1de5924d310c
HUBSPOT_REGION=na1
